.error {
    color: red;
}

.hidden {
    display: none!important;
}

.ml-4 {
    margin-left: 4px;
}

textarea {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.buttonslbl {
    font-size: 12px;
    margin-right: 2px;
}

a.badge.rounded-pill {
    text-decoration-line: none;
    cursor: pointer;
}

.right {
    text-align: right;
    display: block;
    float: right;
}

.full-width {
    width: 100%;
}