<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename= 'favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <title>{% block title %} {% endblock %}</title>
  </head>

  <body class="d-flex flex-column h-100" data-bs-theme="dark">
    <!-- Nav Start-->
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
              <span class="fs-4">Timer Cube</span>
            </a>
          </div>

          <ul class="nav col-12 col-md-6 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2">Home</a></li>
            <li><a href="/dice" class="nav-link px-2">Dice</a></li>
            <li><a href="/tasks" class="nav-link px-2">Tasks</a></li>
            <!-- <li><a href="#" class="nav-link px-2">Users</a></li> -->
            <li><a href="/about" class="nav-link px-2">About</a></li>
          </ul>

          <!-- <div class="col-md-3 col-sm-12 text-end">
            <button type="button" class="btn btn-outline-warning me-2">Login</button>
          </div> -->
        </div>
      </div>
    </header>
    <!-- Nav End-->

    <main class="flex-shrink-0">
      <div class="container">
        {% block content %} {% endblock %}
      </div>
    </main>
    
    <footer class="footer mt-auto py-3">
      <div class="container">
        <div class="border-bottom pb-3 mb-3"></div>
        <p class="text-center text-body-secondary">&copy; {{ year }} <a href="https://www.calluminglis.com">Callum Inglis</a> | <a href="https://www.4oh4.co.uk">4oh4 Ltd</a></p>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename= 'script/timer.js') }}"></script>
  </body>
</html>