{% extends 'base.html' %}

{% block content %}

    <div class="my-5">
        <div class="p-5 text-center bg-body-tertiary">
            <div class="container py-5">
                <h1 class="text-body-emphasis">{% block title %} Dice Configuration {% endblock %}</h1>
                <p>Timer Cube is scalable and will work with any kind of dice you desire. 
                    From a standard 6-sided Cube, 8-sided Octahedron, 12-sided Dodecahedron or even a 20-sided Icosahedron, 
                    so long as you have a reliable way to determine orientation, you can integrate to this system!</p>
            </div>
        </div>
    </div>

    <div class="b-example-divider"></div>

    TODO: Currently Active dice<br>
    TODO: Add New dice<br>
    TODO: Select Dice & Assign a task to the face<br>

{% endblock %}