{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to Timer Cube {% endblock %}</h1>
    
    <h2>Task Effort Tracker</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Task ID</th>
                <th>Type</th>
                <th>Organisation</th>
                <th>Task Name</th>
                <th>Effort</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task['taskid'] }}</td>
                    <td>{{ task['tasktype'] }}</td>
                    <td>{{ task['organisation'] }}</td>
                    <td>{{ task['name'] }}</td>
                    <td><a href="#" onclick="Timer.taskSpendReport({{ task['taskid'] }});">{{ task['spendtime'] }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Dice-Face-Task Tracker</h2>
    <table class="table">
        <thead>
            <tr>
                <th colspan="3">Dice</th>
                <th colspan="2">User</th>
                <th colspan="3">Task</th>
            </tr>
            <tr>
                <th>UUID</th>
                <th>Name</th>
                <th>Faces</th>

                <th>Name</th>
                <th>Organisation</th>

                <th>Face</th>
                <th>Task</th>
                <th>Task Type</th>
            </tr>
        </thead>
        <tbody>
            {% for dicetask in dicetasks %}
            <tr>
                <td>{{ dicetask['uuid'] }}</td>
                <td>{{ dicetask['name'] }}</td>
                <td>{{ dicetask['faces'] }}</td>

                <td>{{ dicetask['username'] }}</td>
                <td>{{ dicetask['organisation'] }}</td>

                <td>{{ dicetask['facenumber'] }}</td>
                <td><a href="#" onclick="Timer.taskSpendReport({{ dicetask['taskid'] }});">{{ dicetask['taskname'] }}</a></td>
                <td>{{ dicetask['tasktype'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}